@using  Mvc_Data_Assignment
@model List<Person>

<table>
    <thead id="test">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>PhoneNumber</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr id="line">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.City</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="Id" value="@item.Id" id="button" />
                            <input type="submit" name="Id" value="Remove" id="button" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>