@model Person


<li class="main-li">
    @Model.Id | 
    @Model.Name | 
    @Model.PhoneNumber |
    @Model.City |
    <a asp-route-id="@Model.Id" asp-action="Delete" class="aDelete">
        <input type="hidden" name="Id" value="@Model.Id" id="button" class="removeButton" />
        <input type="submit" name="Id" value="Remove" id="button" class="removeButton" />
    </a>
</li>
